<p>
    <strong class="comment color-toggle">Commenter:</strong>
    <%= comment.commenter %>
</p>

<p>
    <strong class="comment color-toggle">Comment:</strong>
    <%= comment.body %>
</p>

<p>
    <%= link_to 'Destroy Comment', [comment.article, comment],
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
</p>
