// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#welcome {
    color: white;
}

.bootrow {
    margin-top: 1em;
}

.fade-in {
    animation: fadein 1s
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

